<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="../assets/img/favicon32.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>
	<link rel="stylesheet"  href="../css/estilo.css">
</head>
<body>
	<div class="contenedor__body">
	
			<!---INICIO DE ENCABEZADO--->
			
			<header class="header">
			
			<!-- incio de nav -->	
		<nav class="navbar">
			<!-- LOGO -->
			<div class="header__logo">
					<a href="/index.html" target="_blank"><img src="../assets/img/logo1.png" alt="logo" width="50%"></a>
			<!-- CIERRE LOGO -->
			</div>
				<ul class="nav">
					<li><a href="../index.html" target="_blank">INICIO</a></li> 
					<li><a href="Unidades.html" target="_blank">UNIDADES</a></li>
					<li><a href="preguntasfrecuentes.html" target="_blank">PREGUNTAS FRECUENTES</a></li>
					<li><a href="lugares.html" target="_blank">LUGARES QUE VISITAR</a></li>
					<li><a href="#">CONTACTO</a></li>

				</ul>
		</nav>
			<!-- cierre de nav -->
			</header>
	</div>
	
	<!-- inicio de contenido -->
	<main>
		<form class="formulario">
				<fieldset>
					<legend class="legend">CONTACTATE CON NOSOTROS</legend>
			<br>			
			<div>
				<label for="nombre_apellido">Nombre:</label>
				<input type="text" name="Nombre" placeholder="NOMBRE">			
			</div>
			<br>
			<div>
				<label for="nombre_apellido">Mail:</label>
				<input type="email" name="Email" placeholder="MAIL">
			</div>
			<br>
			<div>
				
				<textarea name="Consultas" placeholder="Escribe tu consulta" cols="50" rows="10"> </textarea>
			</div>
			<br>
			<div>
				<input type="submit" value="Enviar formulario"/>
 				<input type="reset" value="Limpiar formulario"/>
			</div>

				</fieldset>
		</form>

	</main>
	<!-- cierre de contenido -->
	<!-- Inicio de footer -->
		<footer class="footer">
	<!-- logo -->
				<div class="logo__bajo">
						<img src="../assets/img/logo1.png" alt="logo" width="10%">
				</div>		
		<nav class="redes__sociales">	
				<div> 
						<!-- Logo Facebook -->
						<a href="https://www.facebook.com/mundu.rodantes.1" target="_blank"><img src="../assets/img/facebook.png" alt="Facebook" width="20%"></a>
						<!-- Cierre logo Facebook -->
				
						<!-- Logo Insta -->
						<a href="https://www.instagram.com/rodantesmundu/?hl=es" target="_blank"><img src="../assets/img/insta.png" alt="Instagram" width="20%"></a>
						<!-- cierre logo insta -->
				
				
						<!-- Logo mail -->
						<a href="mailto:mundurodantes@gmail.com" target="_blank"><img src="../assets/img/email.png" alt="Mail" width="20%"></a>
						<!-- cierre logo mail -->
				</div>
		</nav>
	<!-- Cierre de footer -->
	</footer>

</body>
</html>