<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="../assets/img/favicon32.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Unidades</title>
	<link rel="stylesheet"  href="../css/estilo.css">
</head>
<body>
	<div class="contenedor__body">
	
			<!---INICIO DE ENCABEZADO--->
			
			<header class="header">
			
			<!-- incio de nav -->	
		<nav class="navbar">
			<!-- LOGO -->
			<div class="header__logo">
					<a href="/index.html" target="_blank"><img src="../assets/img/logo1.png" alt="logo" width="50%"></a>
			<!-- CIERRE LOGO -->
			</div>
				<ul class="nav">
					<li><a href="../index.html"target="_blank">INICIO</a></li> 
					<li><a href="#" >UNIDADES</a></li>
					<li><a href="PreguntasFrecuentes.html" target="_blank">PREGUNTAS FRECUENTES</a></li>
					<li><a href="Lugares.html" target="_blank">LUGARES QUE VISITAR</a></li>
					<li><a href="contacto.html" target="_blank">CONTACTO</a></li>

				</ul>
		</nav>
			<!-- cierre de nav -->
			</header>
	</div>
	
	<!-- inicio de contenido -->
	<main>
		<!-- Sección Unidades -->
		<section class="seccion__unidades">
			<article>
				<div class="titulo__h1">
					<h1>NUESTRAS UNIDADES</h1>
				</div>		

				<div class="textPost1">
				<!-- post 1 -->
					<img class="img__Post1" src="../assets/img/bombay.jpg" alt="Casilla bombay" width="20%" height="10%">
					<p>¡BOMBAY! El rodante ideal para 3 personas, super liviano y cómodo. Esta unidad es ideal para una aventura 			compartida, cuenta con una cama matrimonial y una individual, en su parte trasera se ubica la cocina de la unidad 		equipada con todo lo necesario para disfrutar de un viaje inolvidable.</p>
				</div>
			
				<!-- Fin de post 1 -->
				<div class="textPost2">
				<!-- post 2 -->
					<img class="img__Post2" src="../assets/img/denver.jpg" alt="Casilla denver" width="20%" height="10%">
					<p>¡DENVER! El espectacular rodante para 4 personas. Esta excelente unidad cuenta con una cama matriomonial y dos 		individuales, cocina, baño interior con ducha incluída, comedor plegable con 2 mesas, heladera y más.. ¡Listo para 		acompañarte en tu viaje!</p>
				</div>
				<!-- Fin de post 2 -->
				<div class="textPost3">
				<!-- post 3 -->
					<img class="img__Post3" src="../assets/img/traful.jpg" alt="Casilla traful" width="20%" height="10%">
					<p>Te presentamos a ¡TRAFUL!, un hermoso rodante para que disfrutes tus viajes. Comodidad pura, para 2 personas.
					Cuenta con una cama matrimonial, en su parte trasera se ubica la cocina de la unidad equipada con todo lo necesario para disfrutar de un viaje inolvidable. </p>
				</div>
				<!-- Fin de post 3 -->
			</article>
		</section>
	</main>
	<!-- cierre de contenido -->

	<!-- Inicio de footer -->
		<footer class="footer">
	<!-- logo -->
				<div class="logo__bajo">
						<img src="../assets/img/logo1.png" alt="logo" width="10%">
				</div>		
		<nav class="redes__sociales">	
			<div> 
						<!-- Logo Facebook -->
						<a href="https://www.facebook.com/mundu.rodantes.1" target="_blank"><img src="../assets/img/facebook.png" alt="Facebook" width="20%"></a>
						<!-- Cierre logo Facebook -->
				
						<!-- Logo Insta -->
						<a href="https://www.instagram.com/rodantesmundu/?hl=es" target="_blank"><img src="../assets/img/insta.png" alt="Instagram" width="20%"></a>
						<!-- cierre logo insta -->
				
				
						<!-- Logo mail -->
						<a href="mailto:mundurodantes@gmail.com" target="_blank"><img src="../assets/img/email.png" alt="Mail" width="20%"></a>
						<!-- cierre logo mail -->
			</div>
		</nav>
	<!-- Cierre de footer -->
	</footer>

</body>
</html>